@font-face {
    font-family: 'Ibarra Real Nova', serif;;
    src: url(../Ibarra_Real_Nova/IbarraRealNova-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Public Sans', sans-serif;
    src: url(../Public_Sans/PublicSans-VariableFont_wght.ttf);
}